{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12">
            <button class="button is-pulled-right"><i class="fa-solid fa-save"></i>&nbsp;Opslaan
            </button>
            &nbsp;
        </div>
    </div>
    <div class="columns is-gapless">
        <div class="column is-12">

            <article class="message is-dark">
                <div class="message-header ">
                    {{ character.name }}
                </div>
                <div class="message-body">

                    <div class="box inner-box is-shadowless">
                        <div class="columns is-gapless">
                            <div class="column is-5">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Naam</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" name="name" type="text"
                                                       value="{{ character.name }}" placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-7">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Pri. geloof</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">

                                            <div class="select is-fullwidth">
                                                <select v-model="character.primaryDeityId">
                                                    <option value="">(geen)</option>
                                                    {% for deity in deities.serialize %}
                                                        <option value="{{ deity.id }}">
                                                            {{ deity.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns is-gapless">
                            <div class="column is-5">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Titel</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" name="name" type="text"
                                                       value="{{ character.title }}" placeholder=""/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-7">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Sec. geloof</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">

                                            <div class="select is-fullwidth">
                                                <select v-model="character.secondaryDeityId">
                                                    <option value="">(geen)</option>
                                                    {% for deity in deities.serialize %}
                                                        <option value="{{ deity.id }}">
                                                            {{ deity.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-12">
                        <button class="button is-pulled-right">
                            <i class="fa-solid fa-dice-d20"></i>&nbsp;Toevoegen
                        </button>
                    </div>

                    <div class="column is-12 pl-3 p-0">
                        <h3 class="mb-0">Skills</h3>
                    </div>

                    <div class="column is-12">
                        <table class="table is-bordered is-striped is-narrow is-fullwidth">
                            <tr>
                                <th>Naam</th>
                                <th>Kosten (punten)</th>
                                <th>Aantal keer bruikbaar</th>
                                <th>Fast casting</th>
                                <th>Armoured casting</th>
                                <th></th>
                            </tr>

                            <tr v-for="linkedSkill in character.linkedSkills">
                                <td>
                                    {{ '{{ linkedSkill.skillName }}' }}
                                </td>
                                <td>
                                    <input
                                            @keyup="numbersOnly(linkedSkill, 'points')"
                                            @change="numbersOnly(linkedSkill, 'points')"
                                            type="input"
                                            class="input skill-input"
                                            name="skillLinkPoints[]"
                                            v-model="linkedSkill.points"/>
                                    <span class="skill-original">{{ '{{ linkedSkill.pointsSource }}' }}</span>
                                </td>
                                <td>
                                    <input @keyup="numbersOnly(linkedSkill, 'numberOfTimes')"
                                           @change="numbersOnly(linkedSkill, 'numberOfTimes')"
                                           type="input"
                                           class="input skill-input"
                                           name="skillLinkAmount[]"
                                           v-model="linkedSkill.numberOfTimes"/>
                                    <span class="skill-original">{{ '{{ linkedSkill.numberOfTimesSource }}' }}</span>
                                </td>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" v-model="linkedSkill.fastCast"
                                               name="fastCast[]"/>
                                    </label>
                                </td>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" v-model="linkedSkill.armouredCasting"
                                               name="armouredCasting[]"/>
                                    </label>
                                </td>
                                <td>
                                    <i class="fa fa-trash"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </article>
        </div>
    </div>

    <script>
        Vue.createApp({
            data() {
                return {
                    character: {{ character.serialize(false)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
                }

            },
            computed: {},
            methods: {
                numbersOnly: (sender, field) => {
                    sender[field] = sender[field].replace(/[^0-9]/g, '')
                }
            },
            mounted() {
                this.character.linkedSkills.sort(
                    (left, right) => left.skillName.localeCompare(right.skillName)
                );
            }
        }).mount('.content');
    </script>

{% endblock %}
