{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12">
            <button class="button is-pulled-right"><i class="fa-solid fa-save"></i>&nbsp;Opslaan
            </button>
            &nbsp;
        </div>
    </div>

    <div class="columns is-gapless">
        <div class="column is-12">
            <article class="message is-dark">
                <div class="message-header ">
                    {{ character.name }}
                </div>
                <div class="message-body">

                    <div class="columns is-gapless">
                        <div class="column is-6">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Naam</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" name="name" type="text"
                                                   value="{{ character.name }}" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Titel</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" name="name" type="text"
                                                   value="{{ character.title }}" placeholder=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns is-gapless">
                        <div class="column is-6">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Primair geloof</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">

                                        <div class="select is-fullwidth">
                                            <select>
                                                <option>(geen)</option>
                                                {% for deity in deities %}
                                                    <option {% if character.primaryDeityId == deity.id %}selected{% endif %}>
                                                        {{ deity.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Secundair geloof</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">

                                        <div class="select is-fullwidth">
                                            <select>
                                                <option>(geen)</option>
                                                {% for deity in deities %}
                                                    <option {% if character.SecondaryDeityId == deity.id %}selected{% endif %}>
                                                        {{ deity.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-12">

                        <button class="button is-pulled-right" @click="manageCharacters">
                            <i class="fa-solid fa-person-military-to-person"></i>&nbsp;Aanpassen
                        </button>
                        <div class="field is-horizontal">

                            <div class="field-label is-normal">
                                <label class="label">Skills</label>
                            </div>

                            <div class="field-body">
                                <div class="field card ml-5 mr-5 m-1 p-3">
                                    {% for skillLink in character.skills %}
                                        <span class="tag is-link is-light ml-3 mb-3">{{ skillLink.skill.name }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </div>


    </div>

    <script>
        Vue.createApp({
            data() {
                return {};
            },
            computed: {},
            methods: {},
            mounted() {
            }
        }).mount('.content');
    </script>

{% endblock %}
