{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12">
            <button class="button is-pulled-right"
                    onclick="return false"
                    @click="saveCharacter('{{ character.id }}')"/>
            <i class="fa-solid fa-save"></i>&nbsp;Opslaan
            </button>
            &nbsp;
        </div>
    </div>

    <article class="message is-dark">
        <div class="message-header ">
            {{ character.name }}

            {% if character.name == '' %}
                Character Aanmaken
            {% endif %}
        </div>
        <div class="message-body">
            <div class="tabs is-toggle is-fullwidth mr-6 ml-4">
                <ul>
                    <li :class="{ 'is-active': activeTab === 'basic' }">
                        <a @click="activeTab = 'basic'">
                            <span class="icon is-small">
                                <i class="fas fa-receipt" aria-hidden="true"></i>
                            </span>
                            <span>Basis</span>
                        </a>
                    </li>

                    <li :class="{ 'is-active': activeTab === 'skills' }">
                        <a @click="activeTab = 'skills'">
                            <span class="icon is-small">
                                <i class="fas fa-wand-sparkles" aria-hidden="true"></i>
                            </span>
                            <span>Skills</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div v-show="activeTab === 'basic'">
                <div class="grid">
                    <div class="cell">
                        <div class="column is-12 pl-1 pb-5 pt-0 p-0">
                            <h3 class="mb-0">Basis</h3>
                        </div>

                        <div class="box inner-box is-shadowless">
                            <div class="columns is-gapless">
                                <div class="column is-12">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Naam</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="name" type="text"
                                                           value="{{ character.name }}" placeholder=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns is-gapless">
                                <div class="column is-12">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Speler</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="field-body">
                                                    <div class="field">
                                                        <div class="select is-fullwidth">
                                                            <select name="playerId">
                                                                <option value="{{ player.id }}">
                                                                    (ontkoppeld)
                                                                </option>

                                                                {% for player in players.serialize(true) %}
                                                                    <option value="{{ player.id }}"
                                                                            {% if player.id == character.playerId %}selected="selected"{% endif %}>
                                                                        {{ player.name }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns is-gapless">
                                <div class="column is-12">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Ras</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="select is-fullwidth">
                                                    <select name="raceId" v-model="character.raceId">
                                                        {% for race in races.serialize %}
                                                            <option value="{{ race.id }}">
                                                                {{ race.name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns is-gapless">
                                <div class="column is-12">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">&nbsp;</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="isDeceased"
                                                           v-model="character.isDeceased"/>
                                                    &nbsp;<b>Overleden</b>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cell">
                        <div class="column is-12 pl-1 pb-5 pt-0 p-0">
                            <h3 class="mb-0">Achtergrond</h3>
                        </div>

                        <div class="box inner-box is-shadowless">
                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Titel</label>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="title" type="text"
                                                           value="{{ character.title }}" placeholder=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Gilde</label>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="guild" type="text"
                                                           value="{{ character.guild }}" placeholder=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Beroep</label>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="occupation" type="text"
                                                           value="{{ character.occupation }}" placeholder=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Geboorteplaats</label>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="birthplace" type="text"
                                                           value="{{ character.birthplace }}" placeholder=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for customField in customFields.serialize %}
                                {% if loop.index0 % 2 == 0 %}
                                    <div class="columns">
                                {% endif %}

                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">{{ customField.name }}</label>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input" name="{{ customField.id }}" type="text"
                                                           value="{{ customField.value }}" placeholder=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% if loop.index0 % 2 == 1 %}
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="cell">
                        <div class="column is-12 pl-1 pb-5 pt-0 p-0">
                            <h3 class="mb-0">Geloof</h3>
                        </div>

                        <div class="box inner-box is-shadowless">
                            <div class="columns">
                                <div class="column is-12">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Primair</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">

                                                <div class="select is-fullwidth">
                                                    <select name="primaryDeityId" v-model="character.primaryDeityId">
                                                        <option value="">(geen)</option>
                                                        {% for deity in deities.serialize %}
                                                            <option value="{{ deity.id }}">
                                                                {{ deity.name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-12">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Secondair</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="select is-fullwidth">
                                                    <select name="secondaryDeityId"
                                                            v-model="character.secondaryDeityId">
                                                        <option value="">(geen)</option>
                                                        {% for deity in deities.serialize %}
                                                            <option value="{{ deity.id }}">
                                                                {{ deity.name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="column is-12 pl-1 pb-5 pt-0 p-0">
                            <h3 class="mb-0">Notities</h3>
                        </div>

                        <div class="box inner-box is-shadowless">
                            <div class="columns">
                                <div class="column is-12">
                                    <textarea name="notes" class="input">{{ character.notes }}</textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div v-show="activeTab === 'skills'">
                <input type="hidden" name="linkedSkills" v-model="linkedSkills">

                <button class="button is-pulled-right" @click="appendSkill" onclick="return false">
                    <i class="fa-solid fa-dice-d20">
                    </i>&nbsp;Toevoegen
                </button>

                <div class="column is-12 pl-3 pb-3 p-0">
                    <h3 class="mb-0">Skills</h3>
                </div>

                <div class="column is-12">

                    <div v-for="(skillGroup, skillGroupName) in groupedLinkedSkills">
                        <h3>{{ '{{ skillGroupName }}' }}</h3>

                        <table class="table character-skill-table is-bordered is-striped is-narrow is-fullwidth">
                            <tr>
                                <th>Naam</th>
                                <th>Kosten (punten)</th>
                                <th>Aantal keer bruikbaar</th>
                                <th>Fast Casting</th>
                                <th>Armor Class</th>
                                <th></th>
                            </tr>

                            <tr v-for="linkedSkill in skillGroup.skills">
                                <td>
                                    {{ '{{ linkedSkill.skillName }}' }}
                                </td>
                                <td>
                                    <input
                                            @keyup="numbersOnly(linkedSkill, 'points')"
                                            @change="numbersOnly(linkedSkill, 'points')"
                                            type="input"
                                            class="input skill-input"
                                            v-model="linkedSkill.points"/>
                                    <span class="skill-original">{{ '{{ linkedSkill.pointsSource }}' }}</span>
                                </td>
                                <td>
                                    <input @keyup="numbersOnly(linkedSkill, 'numberOfTimes')"
                                           @change="numbersOnly(linkedSkill, 'numberOfTimes')"
                                           type="input"
                                           class="input skill-input"
                                           v-model="linkedSkill.numberOfTimes"/>
                                    <span class="skill-original">{{ '{{ linkedSkill.numberOfTimesSource }}' }}</span>
                                </td>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" v-model="linkedSkill.fastCasting"/>
                                    </label>
                                </td>
                                <td>
                                    <label class="checkbox">
                                        <input type="checkbox" v-model="linkedSkill.armouredCasting"/>
                                    </label>
                                </td>
                                <td>
                                    <i class="fa fa-trash" @click="deleteSkill(linkedSkill)"/>
                                </td>
                            </tr>
                        </table>

                        <div>&nbsp;</div>
                    </div>
                </div>

            </div>
        </div>


        <div class="modal" id="skillList">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Skills toevoegen</p>
                    <div class="control">
                        <input class="input" type="text" v-model="skillFilter" placeholder="Filter">
                    </div>
                </header>
                <section class="modal-card-body modal-card-body-no-padding">
                    <div v-for="(skillGroup, skillGroupName) in groupedSkills">
                        <div class="pl-3 pt-2">
                            <h4 class="m-0 p-0">{{ '{{ skillGroupName }}' }}</h4>
                        </div>

                        <table class="table is-striped is-narrow is-overview-table">
                            <tr>
                                <th>&nbsp;</th>
                                <th>Naam</th>
                                <th class="has-text-right">Kosten</th>
                                <th class="has-text-right">Reeds aangekocht</th>
                            </tr>
                            <tr v-for="skill in skillGroup.skills" :key="skill.id">
                                <td>
                                    <a>
                                        <i onclick="return false" @click="buy(skill)" class="fa-solid fa-plus"></i>
                                    </a>
                                </td>
                                <td>
                                    {{ '{{ skill.skillName }}' }}
                                </td>
                                <td class="has-text-right">
                                    {{ '{{ skill.points }}' }}
                                </td>
                                <td class="has-text-right">
                                    <div v-if="(boughtTimes = skillBoughtTimes(skill.skillId)) && boughtTimes > 0">
                                        <b style="color: blue">{{ '{{ boughtTimes }}' }}</b>
                                    </div>
                                    <div v-else>
                                        {{ '{{ boughtTimes }}' }}
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </section>

                </section>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button" onclick="return false">Sluiten</button>
                    </div>
                </footer>
            </div>
        </div>


    </article>

    <script>
        Vue.createApp({
            data() {
                return {
                    activeTab: 'basic',

                    character: {{ character.serialize(false)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},

                    linkableSkillList: [],
                    skillFilter: '',
                }
            },
            computed: {
                groupedSkills() {
                    const linkableSkills = this.linkableSkillList.filter((skill) => {
                        return skill.skillName.toLowerCase().includes(
                            this.skillFilter.toLowerCase()
                        ) !== false
                    });

                    return this.groupSkills(linkableSkills);
                },

                groupedLinkedSkills() {
                    return this.groupSkills(this.character.linkedSkills);
                },

                linkedSkills: function () {
                    return JSON.stringify(this.character.linkedSkills.map((linkedSkill) => {
                        return {
                            id: linkedSkill.skillId,
                            points: parseInt(linkedSkill.points),
                            numberOfTimes: parseInt(linkedSkill.numberOfTimes),
                            fastCasting: !!(linkedSkill.fastCasting ?? false),
                            armouredCasting: !!(linkedSkill.armouredCasting ?? false)
                        }
                    }));
                }
            },
            methods: {
                saveCharacter(characterId) {
                    const characterForm = serializeForm('containerForm');

                    axios
                        .post(`/admin/characters/${characterId}.html`, { character: characterForm })
                        .then(() => {
                            document.location.href = `/admin/characters/${characterId}.html`
                        })
                        .catch((error) => {
                            const message = error.response.data.error.description;

                            alert(message);
                        });

                    return false;
                },

                groupSkills(skills) {
                    const groupCollection = {};

                    for (linkedSkill of skills) {
                        const groupName = linkedSkill.skillGroup || 'Ungrouped';

                        if (groupCollection[groupName] === undefined) {
                            groupCollection[groupName] = {
                                skills: [],
                                ordering: linkedSkill.skillGroupOrdering || 999
                            };
                        }

                        groupCollection[groupName].skills.push(linkedSkill);
                    }

                    const sortedGroups = Object.entries(groupCollection)
                        .sort((left, right) => left[1].ordering - right[1].ordering)
                        .reduce((acc, [key, value]) => {
                            acc[key] = value;

                            return acc;
                        }, {});

                    return sortedGroups;
                },

                numbersOnly(sender, field) {
                    sender[field] = sender[field].replace(/[^0-9]/g, '')
                },

                appendSkill() {
                    axios.get('/admin/skills/linkable/api').then((response) => {
                        this.linkableSkillList = response.data.data ?? [];

                        openModal(document.getElementById('skillList'));
                    });
                },

                buy(linkableSkill) {
                    const boughtSkill = JSON.parse(JSON.stringify(linkableSkill));

                    this.character.linkedSkills.push(boughtSkill);

                    this.character.linkedSkills.sort(
                        (left, right) => left.skillName.localeCompare(right.skillName)
                    );
                },

                deleteSkill(selectedSkill) {
                    if (confirm('Wil je deze skill verwijderen?') === false) {
                        return;
                    }

                    this.character.linkedSkills = this.character.linkedSkills.filter((skill) => {
                        return skill !== selectedSkill;
                    });
                },

                skillBoughtTimes(skillId) {
                    let amount = 0;

                    for (linkedSkill of this.character.linkedSkills) {
                        if (linkedSkill.skillId === skillId) {
                            amount++;
                        }
                    }

                    return amount;
                }
            },

            mounted() {
                this.character.linkedSkills.sort(
                    (left, right) => left.skillName.localeCompare(right.skillName)
                );
            }
        }).mount('.content');
    </script>

{% endblock %}
