{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12">
            <button class="button is-pulled-right"
                    onclick="return false"
                    @click="savePlayer('{{ player.id }}')">
                <i class="fa-solid fa-save"></i>&nbsp;Opslaan
            </button>
            &nbsp;
        </div>
    </div>

    {% if persisted %}
        <article class="message is-success">
            <div class="message-header">
                <p>Opgeslagen</p>
            </div>
            <div class="message-body">
                De speler is succesvol opgeslagen.
            </div>
        </article>
    {% endif %}

    <div class="spacer is-12"></div>
    <div class="columns is-gapless">
        <div class="column is-12">
            <article class="message is-dark">
                <div class="message-header">
                    {% if player.name == '' %}
                        Nieuw character
                    {% endif %}
                    {{ player.name }}
                </div>
                <div class="message-body">

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Naam</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" name="name" type="text"
                                           value="{{ player.name }}" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">E-mail</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" name="email" type="text"
                                           value="{{ player.email }}" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Characters</label>
                        </div>

                        <div class="field-body">
                            <div class="field card ml-5 mr-5 m-1 p-3">
                                <span v-if="coupledCharacters.length === 0">(Geen)</span>
                                <div v-for="character in coupledCharacters" @click="navigateToCharacter(character.id)">
                                    <label class="is-clickable">
                                        <i class="fa-solid fa-id-badge"></i>
                                        {{ '{{ character.name }}' }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    {% if player.name %}
        <div class="columns is-gapless">
            <div class="column is-12">
                <article class="message is-dark">
                    <div class="message-header">
                        Account
                        <button class="button is-pulled-right m-0 pl-2 pr-2 p-0"
                                {% if player.email == '' or account.name == '' %}
                                    disabled="disabled"
                                {% else %}
                                    @click="sendAccountCreationInvite('{{ player.id }}')"
                                {% endif %}
                                onclick="return false">
                            <i class="fa-solid fa-envelope-open-text"></i>&nbsp;Stuur wachtwoordinstelmail
                        </button>

                    </div>
                    <div class="message-body">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Gebruikersnaam</label>
                            </div>
                            <div class="field-body mt-1">
                                {% if account %}
                                    <input class="input" name="accountName" type="text"
                                           value="{{ account.name }}" placeholder=""/>
                                {% else %}
                                    <input class="input" name="accountName" type="text"
                                           placeholder="(geen)" placeholder=""/>
                                {% endif %}
                            </div>
                        </div>

                        {% if account.name %}
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Laatste login</label>
                                </div>
                                <div class="field-body mt-1">
                                    {% if account.lastLogin %}
                                        {{ account.lastLogin|date('d-m-Y H:i:s') }}
                                    {% else %}
                                        Nooit
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if account.name %}
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Beheerder</label>
                                </div>
                                <div class="field-body mt-1">
                                    {% if account.isAdmin %}
                                        <input name="isAdmin" type="checkbox" checked="checked"/>
                                    {% else %}
                                        <input name="isAdmin" type="checkbox"/>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
    {% endif %}

    <script type="module">
        Vue.createApp({
            data() {
                return {
                    playerId: '{{ player.id }}',
                    coupledCharacters: {{ playerCharacters.serialize(true)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
                };
            },
            methods: {
                savePlayer(playerId) {
                    const playerForm = serializeForm('containerForm');

                    axios
                        .post(`/admin/players/${playerId}.html`, { player: playerForm })
                        .then(() => {
                            document.location.href = `/admin/players/persisted/${playerId}.html`
                        })
                        .catch((error) => {
                            const message = error.response.data.error.description;

                            alert(message);
                        });

                    return false;
                },

                sendAccountCreationInvite(playerId) {
                    axios
                        .post(`/admin/players/${playerId}/account_settings_email/api`, {})
                        .then(() => {
                            alert('Email verstuurd');
                        })
                        .catch((error) => {
                            const message = error.response.data.error.description;

                            alert(message);
                        });

                    return false;
                },

                navigateToCharacter(characterId) {
                    window.open(
                        `/admin/characters/${characterId}.html`,
                        '_blank'
                    );
                }
            }
        }).mount('.content');
    </script>
{% endblock %}
