{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12">
            <button class="button is-pulled-right"><i class="fa-solid fa-save"></i>&nbsp;Opslaan
            </button>
            &nbsp;
        </div>
    </div>

    <div class="spacer is-12"></div>

    <div class="columns is-gapless">
        <div class="column is-12">
            <article class="message is-dark">
                <div class="message-header ">
                    {{ race.name }}
                </div>
                <div class="message-body">

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Naam</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" name="name" type="text"
                                           value="{{ race.name }}" placeholder=""/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>

                    <div class="columns">
                        <div class="column">
                            <h2>Verplichte skills</h2>

                            <div class="box inner-box is-shadowless">
                                <table class="table is-bordered is-striped is-fullwidth">
                                    <tr v-for="skill in mandatorySkills" :key="skill.id">
                                        <td>
                                            {{ '{{ skill.name }}' }}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <div class="column">
                            <h2>Verboden skills</h2>

                            <div class="box inner-box is-shadowless">
                                <table class="table is-bordered is-striped is-fullwidth">
                                    <tr v-for="skill in forbiddenSkills" :key="skill.id">
                                        <td>
                                            {{ '{{ skill.name }}' }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <h2>Afwijkende kosten (punten) voor ras</h2>

                    <div class="box inner-box is-shadowless">
                        <table class="table is-bordered is-striped is-fullwidth">
                            <tr v-for="skill in differentPointSkills" :key="skill.id">
                                <td>
                                    {{ '{{ skill.name }}' }}
                                </td>
                                <td>
                                    {{ '{{ skill.points }}' }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </article>
        </div>
    </div>

    <script>
        Vue.createApp({
            data() {
                return {
                    mandatorySkills: {{ mandatorySkills.serialize(true)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
                    forbiddenSkills: {{ forbiddenSkills.serialize(true)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
                    differentPointSkills: {{ differentPointSkills.serialize(true)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }},
                }
            },
            methods: {}
        }).mount('.content');
    </script>

{% endblock %}
