{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12">
            <button class="button is-pulled-right"><i class="fa-solid fa-save"></i>&nbsp;Opslaan
            </button>
            &nbsp;
        </div>
    </div>
    <div class="spacer is-12"></div>
    <div class="columns is-gapless">
        <article class="message is-dark">
            <div class="message-header ">
                {{ skill.name }}
            </div>
            <div class="message-body">

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Naam</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.name }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Soort</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.skillType }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Geloof</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.deityName }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Element</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.elementName }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Kosten (punten)</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.points }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Aantal keer bruikbaar</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.numberOfTimes }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Afstand</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.distance }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Duratie</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.duration }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Vrij verkrijgbaar</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.nonFree }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Verborgen</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.hidden }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Niveau</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.level }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Omschrijving</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.description }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Opmerking</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="..." type="text"
                                       value="{{ skill.remarks }}" placeholder=""/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </article>
    </div>

    <script type="module">
        Vue.createApp({
            data() {
                skill: {{ skill.serialize(false)|json_encode|raw }}
            }
        }).mount('.content');
    </script>
{% endblock %}
