{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12">
            <button class="button is-pulled-right"><i class="fa-solid fa-save"></i>&nbsp;Opslaan
            </button>
            &nbsp;
        </div>
    </div>

    <article class="message is-dark">
        <div class="message-header ">
            {{ skill.name }}
        </div>
        <div class="message-body">

            <div class="box inner-box is-shadowless">
                <div class="grid">
                    <div class="cell">
                        <div class="field">
                            <label class="label">Soort</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select>
                                                    {% for skillType in skillTypes.serialize %}
                                                        <option
                                                                {% if skillType.id == skill.skillTypeId %}
                                                                    selected="selected"
                                                                {% endif %}
                                                        >{{ skillType.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cell">
                        <div class="field">
                            <label class="label">Element / Geloof</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select>
                                                <option>(geen)</option>
                                                <optgroup label="Geloof">
                                                    {% for deity in deities %}
                                                        <option
                                                                {% if skill.deityId == deity.id %}
                                                                    selected="selected"
                                                                {% endif %}
                                                        >{{ deity.name }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                                <optgroup label="Element">
                                                    {% for element in elements %}
                                                        <option
                                                                {% if skill.elementId == element.id %}
                                                                    selected="selected"
                                                                {% endif %}
                                                        >{{ element.name }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="cell">
                        <div class="field">
                            <label class="label">Naam</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="..." type="text"
                                               value="{{ skill.name }}" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        &nbsp;
                    </div>
                </div>
            </div>

            <div class="box inner-box is-shadowless">
                <div class="grid">
                    <div class="cell">
                        <div class="field">
                            <label class="label">Aantal keer bruikbaar</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="..." type="text"
                                               value="{{ skill.numberOfTimes }}" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cell">
                        <div class="field">
                            <label class="label">Afstand</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="..." type="text"
                                               value="{{ skill.distance }}" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="cell">
                        <div class="field">
                            <label class="label">Kosten (punten)</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="..." type="text"
                                               value="{{ skill.points }}" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cell">
                        <div class="field">
                            <label class="label">Duratie</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="..." type="text"
                                               value="{{ skill.duration }}" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="cell">
                        <div class="field">
                            <label class="label">Niveau</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="..." type="text"
                                               value="{{ skill.level }}" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell checkbox-group">
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox"/>
                                Verborgen
                            </label>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox"/>
                                Vrij verkrijgbaar
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box inner-box is-shadowless">
                <div class="grid">
                    <div class="cell">
                        <div class="field">
                            <label class="label">Omschrijving</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea class="input">{{ skill.description }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="field">
                            <label class="label">Opmerking</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea class="input">{{ skill.remarks }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <script type="module">
        Vue.createApp({
            data() {
                skill: {{ skill.serialize(false)|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
            }
        }).mount('.content');
    </script>
{% endblock %}
