<style>

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        padding: 3px;
        margin: 0;
        font-size: 8pt;
    }

    tr:nth-child(even) {
        background-color: #f4efef;
    }

    .has-text-right {
        text-align: right;
    }

    .caption {
        border-bottom: 1px solid black;
        text-align: center;
        font-size: 9pt;
        padding-top: 10px;
        padding-bottom: 3px;
        margin: 0;
    }

    .header {
        font-size: 11pt;
        padding-top: 5px;
        padding-bottom: 3px;
        margin: 0;
    }
</style>


<table style="width: 100%">
    <tr>
        <td style="padding-bottom: 30px; width: 70%; vertical-align: top; text-align: left">
            <h1>
                Maerquin Charactersheet
            </h1>
        </td>
        <td style="padding-bottom: 30px; width: 30%; vertical-align: top; text-align: right">
            {{ now }}
        </td>
    </tr>
</table>


<table style="width: 100%">
    <tr>
        <td>
            <img style="height: 200px; padding-right: 20px;" src="frontend/maerquin-logo-transparant.png"/>
        </td>

        <td style="width: 49%; vertical-align: top;">
            <h2 class="header">Personage</h2>
            <br/>

            {{ characterTable|raw }}
        </td>
        <td style="width: 2%; vertical-align: top;">
            &nbsp;
        </td>
        <td style="width: 49%; vertical-align: top;">
            <h2 class="header">Achtergrond</h2>
            <br/>

            {{ backgroundTable|raw }}

            {{ notesTable|raw }}
        </td>
    </tr>
</table>

<hr/>

<div style="width: 49%; float: left;">
    {{ skillsTable|raw }}
</div>

<div style="width: 50%; float: right;">
    <h2 class="caption">Aanwezig op evenement</h2>

    {{ eventsTable|raw }}
</div>
